.container{
    background-color: rgb(136, 85, 151);
    border:medium solid black;
    max-width: 500px;
    margin: 20px auto;
    padding: 10px;
    width: 100%;
    
}
.container .heading  {
    border:thin solid black;
    background-color: blanchedalmond;
    text-align: center;
    margin-bottom: 20px;
    
}
.container .form{
    border:thin solid black;
    background-color: blanchedalmond;
}
.container .form .field{
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.container .form .field  label{
    width: 200px;
    margin-right: 10px;
    font-size: 14px;
     
}
.container .form .field input{
    outline:none;
    border:2px solid  rgb(136, 85, 151);
}
.container .form .field select{
    outline:none;
    border:2px solid  rgb(136, 85, 151);
    width: 180px;
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
}

.container .form .field select:focus,
.container .form .field input:focus
{
    border:2px solid palevioletred;
}
.container .form .field .btn{
    background-color:  rgb(136, 85, 151);
    height: 30px;
    width: 100px;
    color: white;
    cursor:pointer;
    outline: none;
}
#bt{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}




